<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    {% load static %}
    {% extends 'core/base.html' %}
    {% for User in User %}
  <div class="perfil">
    <h2>{{ User.nombre }} {{ User.apellido }}</h2>
    <img src="{{ User.foto.url }}" alt="Foto de perfil">
    <p>Edad: {{ User.edad }}</p>
    <p>Descripción: {{ User.descripcion }}</p>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="like" value="{{ User.id }}">
      <button type="submit">Like</button>
      <input type="hidden" name="dislike" value="{{ Usero.id }}">
      <button type="submit">Dislike</button>
    </form>
  </div>
{% endfor %}


</body>
</html>